body{
  margin:0;
  padding:0;
  font-family: 'Spartan', sans-serif;
}
.container{
  position:relative;
}
.top{
  position:absolute;
  left:0;
  top:0;
z-index:-1;
}
.bottom{
  position:absolute;
  right:0;
  bottom:0;
  z-index:-1;
}
.top-container{
 width:1070px;
   margin:0 auto;

 height:400px;
}
.primary{
 width:350px;
 float:left;
 height:400px;
color:hsl(303, 10%, 53%);
margin-top:100px;

}
.primary h1{
  width:100%;
  font-size:40px;
  color:hsl(300, 43%, 22%);
  font-weight:900;
  margin-top:0;
  font-family: 'Spartan', sans-serif;
}
.primary p{
  font-size:13px;
  line-height:1.5;
  font-weight:400;
}

.secondary{
width:500px;
height:300px;
float:right;
position:relative;
margin-top:100px;
font-family: 'Spartan', sans-serif;
font-size:14px;
color:hsl(300, 43%, 22%);
font-weight:900;
}
.rated p{
  display:inline-block;
  margin-left:20px;


}
.rated-1 p{
  display:inline-block;
    margin-left:20px;
}
.rated-2 p{
  display:inline-block;
    margin-left:20px;
}
.rated{
 width:350px;
 padding-left:20px;
  background-color: hsl(300, 24%, 96%);
  border-radius:8px;
position:absolute;
right:100px;
top:0;
}
.rated-1{
  width:350px;
  background-color: hsl(300, 24%, 96%);
  border-radius:8px;
  padding-left:20px;
  position:absolute;
  right:50px;
  top:75px;
}
.rated-2{
  width:350px;
  background-color: hsl(300, 24%, 96%);
  border-radius:8px;
  padding-left:20px;
  position:absolute;
  right:0;
  top:150px;

}
.bottom-container{
  margin:0 auto;
   height:300px;
  width:1070px;
margin-top:110px;
}
.first{
  width:310px;
  background-color:hsl(300, 43%, 22%);
  color:  hsl(300, 24%, 96%);
  height:160px;
  padding:20px;
  position:relative;

  font-family: 'Spartan', sans-serif;
  font-size:13px;
  border-radius:8px;

}
.first span{
  position:absolute;
  top:19px;
  padding-left:30px;

}
.verified{
  position:absolute;
  left:90px;
  top:24px;
  color:hsl(333, 80%, 67%);

}
.first-content{
  margin-top:20px;
  line-height:1.5;
}

.second{
  width:310px;
  background-color:hsl(300, 43%, 22%);
  color:  hsl(300, 24%, 96%);
  height:160px;
  padding:20px;
position:relative;
font-family: 'Spartan', sans-serif;
font-size:13px;
border-radius:8px;
bottom:180px;
left:360px;

}
.second span{
  position:absolute;
  top:19px;
  padding-left:30px;
}
.third{
  width:310px;
  background-color:hsl(300, 43%, 22%);
  color:  hsl(300, 24%, 96%);
  height:160px;
  padding:20px;
  position:relative;
  font-family: 'Spartan', sans-serif;
  font-size:13px;
  border-radius:8px;
  bottom:360px;
  left:720px;

}
.third span{
  position:absolute;
  top:19px;
  padding-left:30px;

}
